
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title>Bienvenido(a) a nuestra clínica SANEGO</title>
    <style>
        body {
            background-color: #f4f4f4;
            font-family: Arial, sans-serif;
        }

        h1 {
            font-size: 36px;
            color: #333;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            color: black;
            margin-bottom: 20px;
            line-height: 1.5;
        }

        img {
            max-width: 100%;
            height: auto;
            margin-bottom: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        
        <img src="http://drive.google.com/uc?export=view&id=1scSlw-21MEKDoxBKINpS9NX2SEq68fV2" alt="Logo de la clínica" style="margin-top:20px;margin-left:450px;width:250px;height:250px">

        <h1 style="margin-top:10px;padding:0px">Bienvenido(a) a SANEGO</h1>
        <p>Estamos encantados de tenerte aquí. Somos una clínica médica dedicada a la atención y cuidado de pacientes colombianos. En nuestra página web, encontrarás información valiosa sobre nuestros servicios médicos y las distintas especialidades que ofrecemos.</p>
        <p>Como institución de salud, nos tomamos muy en serio la confidencialidad y privacidad de la información clínica de nuestros pacientes. Por eso, nos esforzamos por garantizar que toda la información que se almacena en nuestra base de datos esté protegida y sea tratada con el máximo cuidado y responsabilidad.</p>
        <p>Queremos que te sientas en un ambiente seguro y confiable en nuestra página web, donde puedas encontrar la información que necesitas para mejorar tu salud y bienestar. Si tienes alguna pregunta o necesitas más información, no dudes en contactarnos. Estamos aquí para ayudarte en todo lo que necesites.</p>
    </div>
</body>
</html>



