
@{
    ViewBag.Title = "MostrarDatosVacios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="~/Content/sapo.css" />
</head>
<body>

    <h3>Estadisticas</h3>
    <div>
        <h4>No hay pacientes registrados</h4>
    </div>
</body>
</html>
